html {
    font-family: 'Lato', sans-serif;
    color: white;
    list-style: none;
}

#logo {
    width: 50%;
}

body {
    text-align: center;
    background-color: #212121;
}

.hr{
    width: 100;
}

.top {
    font-size: 75px;
    color: #1ed760;
}

input {
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    padding: 25px;
}

.addSong {
    border: none;
    background-color: #1DB954;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    color: white;
}

hr {
    color: #c0c0c0;
    width: 75%;
}

.songLists {
    color: white;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.pIMG {
    width: 10px;
}